{% extends "../base.html" %}
{% load static %}

{% block stylesheets %}
    <link
      type="text/css"
      rel="stylesheet"
      href="../../static/css/overzicht.css"
    />
{% endblock %}
 
{% block content %}
    <div class="content">
      <div class="categorie">
        <div class="topbar">
          <div class="topbar_title">
            <h1>Allergieën</h1>
          </div>
          <a class="return_btn" href="{% url 'directie-homepage' %}">Terug</a>
        </div>
        <div class="content_tab">
          <div class="searchbar"></div>
          <div class="table">
            <table class="table">
            <tr class="row">
              <td class="collum"><p>naam</p></td>
              <td class="collum"><p>bewerken</p></td>
              <td class="collum"><p>verwijderen</p></td>
            </tr>
            {% for allergie in allergieen %}
                {% include "components/allergie-item.html" with allergie=allergie %}
            {% endfor %}
          </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}