<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../static/css/Categorieëtoevoegen.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="header"></div>
    <div class="content">
      <div class="categorie">
        <div class="topbar">
          <div class="topbar_title">
            <h1>Categorie toevoegen</h1>
          </div>
        </div>
        <div class="content_tab">
          <form method="post" action="{% url 'create_catagorie' %}">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
