<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../static/css/catagorieënoverzicht.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="header"></div>
    <div class="content">
      <div class="categorie">
        <div class="topbar">
          <div class="topbar_title">
            <h1>Categorieën</h1>
          </div>
        </div>
        <div class="content_tab">
          <div class="searchbar"></div>
          <div class="table">
            <table class="table">
            <tr class="row">
              <td class="collum"><p>leverancier</p></td>
              <td class="collum"><p>Leverings datum</p></td>
              <td class="collum"><p>Contact persoon</p></td>
              <td class="collum"><p>verwijderen</p></td>
            </tr>
            {% for categorie in catagorieen %}
                {% include "components/leveranciers-item.html" with leveranciers=leveranciers %}
            {% endfor %}
          </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
