{% extends "../base.html" %}
{% load static %}

{% block stylesheets %}
    <link
      type="text/css"
      rel="stylesheet"
      href="../../static/css/form.css"
    />
{% endblock %}

{% block content %}

    <div class="content">
      <div class="categorie">
        <div class="topbar">
          <div class="topbar_title">
            <h1>Medewerker toevoegen</h1>
          </div>
          <a href="{% url 'directie-homepage' %}">Terug</a>
        </div>
        <div class="content_tab">
          <form method="post" action="{% url 'medewerker-registratie' %}">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
