{% extends "../base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ingaand-rapportages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stock.css' %}">
    <link rel="stylesheet" href="{% static 'css/add-stock.css' %}">
{% endblock %}

{% block content %}

{% load magazijn_extras %}
<div class='center-screen'>
    <div class="rapportage-grid">
        <form>
            {{ myFilter.form.as_p }}
            <input type="submit" value="Search">
        </form>
        <div class='raportage-items'>
            <div style='width: 100%;'>
                <h3 class='card-header'>Uitgaand</h3>
            </div>
            <table>
                <tr>
                    <th>catagorieën</th>
                    <th>geleverd</th>
                    <th>in afwachting</th>
                    <th>overdatum</th>
                    <th>Verdwenen</th>
                </tr>
                <br>
                {% for product_item in  products %}
                <tr>
                    <td>
                    {{ product_item.product__catagorieën}}
                    </td>
                    <td>
                    {{ product_item.Goed}}
                    </td>
                    <td>
                    {{ product_item.in_pakket}}
                    </td>
                    <td>
                    {{ product_item.Verlopen}}
                    </td>
                    <td>
                    {{ product_item.Verdwenen}}
                    </td>
                </tr>

                    <br>
                {% endfor %}
            </table>
        </div>

        <div id='item3'>
            <span class="pagination">
                {% if product_counts.has_previous %}
                    <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo;</a>
                {% endif %}
            
                {% for i in product_counts.paginator.page_range %}
                {% if i >= product_counts.number|add:-4 and i <= product_counts.number|add:4 %}
                    <a href="{% my_url i 'page' request.GET.urlencode %}" {% if i == product_counts.number %}class="active"{% endif %}>{{ i }}</a>
                {% endif %}
            {% endfor %}
            
                {% if product_counts.has_next %}
                    <a href="{% my_url product_counts.paginator.num_pages 'page' request.GET.urlencode %}">&raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% endblock %}