{% load magazijn_extras %}

{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/stock.css' %}">
    <link rel="stylesheet" href="{% static 'css/add-stock.css' %}">
    <link rel="stylesheet" href="{% static 'css/Homepagedirectie.css' %}">
    
{% endblock stylesheets %}


{% block content %}
    <div class="center-screen">
        <div class="form">
            <div class=" content top">
                <div>
                    <a href="{% url 'product-item-add' id=product.id %}" class = "card-btn">Toevoegen</a>
                </div>
                <h2 class = "card-header">{{product.name}}</h2>
                <div>
                    <a href="{% url 'update-stock' id=product.id %}" class = "card-btn">Aanpassen</a>
                </div>
            </div>
            <div class="flex">

                {% for productitem in page_obj %}
                    {% if productitem.status == 1 %}
                        {% include "components/product-item-card.html" with product=product productitem=productitem %}
                    {% endif %}
                {% endfor %}

            </div>
            <div id='item3'>
                <span class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo;</a>
                    {% endif %}
                
                    {% for i in page_obj.paginator.page_range %}
                    {% if i >= page_obj.number|add:-4 and i <= page_obj.number|add:4 %}
                        <a href="{% my_url i 'page' request.GET.urlencode %}" {% if i == page_obj.number %}class="active"{% endif %}>{{ i }}</a>
                    {% endif %}
                {% endfor %}
                
                    {% if page_obj.has_next %}
                        <a href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock content %}
