{% load static %}
<header class= 'header'>
    <img src="{% static 'image/logo.png' %}" alt="logo" class="logo">
    
    {% if user.groups.all.0.name == 'vrijwilliger'  %}
        <a href="{% url 'pakket_kiezen' %}">Pakketten maken</a>
    {% endif %}

    {% if user.groups.all.0.name == 'medewerker' %}
        <a href="{% url 'pakket_kiezen' %}">Pakketten maken</a>
        <a href="{% url 'stock-employe' %}">Voorraad</a>
    {% endif %}


    {% if user.groups.all.0.name == 'directie' %}
        <a href="{% url 'pakket_kiezen' %}">Pakketten maken</a>
        <a href="{% url 'stock-employe' %}">Voorraad</a>
        <a href="{% url 'rapportages' %}">Overzicht</a>
        <a href="{% url 'directie-homepage' %}">Toevoegen</a>
    {% endif %}

    <a class="logout" href="{% url 'logout' %}"> Logout</a>
</header>